{{#each this}}
<h2 class="country-name">{{name}}</h2>
<div>
    <ul class="about-country">
        <li><strong>Capital:</strong> {{capital}}</li>
        <li><strong>Population:</strong> {{population}}</li>
        <li><strong>Languages:</strong>
            <ul class="languages">
                {{#each languages}}
                <li>
                    {{name}}
                </li>
                {{/each}}
            </ul>
        </li>
    </ul>
    <img class="flag" src="{{flag}}" alt="Flag of {{name}}" width="300">
</div>
{{/each}}